[Unit]
Description=Waziup Edge
ConditionPathExists=/bin/wazigate-edge
After=network.target

[Service]
Type=notify
LimitNOFILE=1024

Restart=always
RestartSec=2

WorkingDirectory=/var/www
ExecStart=/bin/wazigate-edge

[Install]
WantedBy=multi-user.target
